<div
  name="utxo"
  class="text-xs font-mono border border-slate-300 rounded mb-2 bg-white">
  <.outpoint outpoint={@utxo.outpoint} />
  <hr class="mb-2">
  <.tx_out txout={@utxo.txout} utxo={@utxo} />
</div>
