<!DOCTYPE html>
<html
  lang="en"
  class="[scrollbar-gutter:stable] h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Qart">
      <%= assigns[:page_title] || "Qart" %>
    </.live_title>
    <meta property="og:type" content="website">
    <meta property="og:title" content={assigns[:page_title] || "Qart"}>
    <meta property="og:description" content={assigns[:page_description] || "Peer to peer commerce"}>
    <meta property="og:image" content={url(~p"/images/qart-preview.png")}>
    <meta property="og:url" content={QartWeb.Endpoint.url}>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={assigns[:page_title] || "Qart"}>
    <meta name="twitter:description" content={assigns[:page_description] || "Peer to peer commerce"}>
    <meta name="twitter:image" content={url(~p"/images/qart-preview.png")}>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-50 antialiased h-full">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <.link
            href={~p"/#{@current_user.try_handle}"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700">
            {@current_user.email}
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
        <li>
          <a href={@handcash_auth_url}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700">Handcash Auth</a>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </body>
</html>
